@import "/app/styles/abstracts/mixins";
@import "/app/styles/abstracts/variables";

.container {
  //width: 600px;
  background-color: white;
  padding-inline: 140px;
  padding-block: 40px;
  border-radius: 8px;

  .label {
    color: #958982;
  }

  .formFooter {
    display: flex;
    flex-direction: column;
    gap: 3px;
    margin-top: 8px;
    font-size: 12px;
    padding-block: 5px;
    text-align: center;
  }

}
