@import "app/styles/abstracts/mixins";
@import "app/styles/abstracts/variables";

.container {
  @include padding-container;
  background-image: url("../StatisticsSection/backgroundImage.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  padding-bottom: 75px !important;
  padding-top: 50px;
  font-family: var(--font-title);
  .content {

  }

  .description {
    div {
      text-align: center;
      width: 35%;
    }

    display: flex;
    justify-content: center;
    margin-top: 80px;
  }
}

@include media-query('mobile-min', 'ipad-min') {
  .description {
    div {
      width: 100% !important;
    }

  }
}