@import "app/styles/abstracts/mixins";
@import "app/styles/abstracts/variables";

.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  @include padding-container;

  .title {
    color: $primary-color;
    margin: 20px;
    font-size: 48px;

  }
}