@import "app/styles/abstracts/variables";

.container {
  display: flex;
  gap: 2px;

  .icon {
    cursor: pointer;
    width: 18px;
  }

  .divider {
    width: 2px;
    height: 20px;
    background-color: $primary-color;
  }

}