@import 'app/styles/abstracts/variables';
@import 'app/styles/abstracts/mixins';

.container {
  display: flex;
  flex-direction: column;
  text-align: center;
  @include padding-container
}

.title {
  color: $primary-color;
  font-size: 48px;
  margin-bottom: 48px;
}

.cardList {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;


}

@include media-query('mobile-min', 'ipad-min') {
  .cardList {
    justify-content: center;
  }
}